!!!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= current_page.data.title || data.defaults.title
    %link{:rel => "stylesheet", :href => "assets/style.css"}
    %script{:type => "text/javascript", :src => "assets/script.js"}
    %script{:type => "text/html", :id => "js_browser_menu"}
      %a#menuLink.menu-link{:href => "#menu"}
        -# Hamburger icon
        %span
      #menu
        .pure-menu
          %a.pure-menu-heading{:href => "https://github.com/webdev-kiwi/documentr", :target => "_blank"}
            Documentr
          %ul.pure-menu-list
            %li.pure-menu-item
              %a.pure-menu-link{:href => "#"}
                Home
            %li.pure-menu-item
              %a.pure-menu-link{:href => "#page_sections"}
                Sections
            - if current_page.data.sections
              -# sections declared on page
              - current_page.data.sections.each do |section|
                - if section.is_a? String
                  %li.pure-menu-item.menu-item-divided
                    %a.pure-menu-link{:href => "##{section.parameterize('-')}"}
                      = truncate(section.html_safe, length: 24)
                - else
                  - section.headings.each do |heading|
                    - if heading.is_a? String
                      %li.pure-menu-item.menu-sub-item
                        %a.pure-menu-link{:href => "##{heading.parameterize('-')}"}
                          = truncate(heading.html_safe, length: 24)
  %body
    .header
      -# Page title
      - if current_page.data.title
        -# data variable on page
        - if current_page.data.title != ''
          -# show if not empty
          %h1= current_page.data.title.html_safe
      - else
        - if data.defaults.title != ''
          -# if a value is set in defaults file
          %h1= data.defaults.title.html_safe
      -# Page description
      - if current_page.data.description
        -# data variable on page
        - if current_page.data.description != ''
          -# show if not empty
          %p= current_page.data.description.html_safe
      - else
        - if data.defaults.description != ''
          -# if a value is set in defaults file
          %p= data.defaults.description.html_safe
      -# Page version
      - if current_page.data.version
        -# data variable on page
        - if current_page.data.version != ''
          -# show if not empty
          %p
            %strong Version:
            %em= current_page.data.version.html_safe
      - else 
        -if data.defaults.version != ''
          -# if a value is set in defaults file
          %p
            %strong Version:
            %em= data.defaults.version.html_safe
      -# Page date
      - if current_page.data.date
        -# date variable on page
        - if current_page.data.date != ''
          -# if a value is set on page use it
          %p
            %strong Date:
            %em= current_page.data.date.html_safe
      - else
        - if data.defaults.date != ''
          -# if a value is set in defaults file
          %p
            %strong Date:
            %em= data.defaults.date.html_safe
        - else
          -# Set date to today
          %p
            %strong Date:
            %em= Date.today
      -# Page author
      - if current_page.data.author
        -# author variable on page
        - if current_page.data.author != ''
          -# if author variable has value use it
          %p
            %strong Author:
            %em= current_page.data.author.html_safe
      - else
        -# value is set in defaults file
        - if data.defaults.author
          %p
            %strong Author:
            %em= data.defaults.author.html_safe
    .content
      -# Page sections
      - if current_page.data.sections
        -# sections declared on page
        %h2#page_sections Sections
        %ul
          - current_page.data.sections.each do |section|
            - if section.is_a? String
              %li= section.html_safe
            - else
              %ul
                - section.headings.each do |heading|
                  - if heading.is_a? String
                    %li= heading.html_safe
                  - else
                    %ul
                      - heading.subs.each do |sub|
                        %li= sub.html_safe
      -# Yield page content
      %hr/
      = yield
      -# Page copyright
      - if current_page.data.copyright
        -# copyright variable on page
        - if current_page.data.copyright != ''
          -# if a value is set on page use it
          %hr/
          %p
            %strong &copy;
            = current_page.data.copyright.html_safe
      - else
        -# value is set in defaults file
        - if data.defaults.copyright
          %hr/
          %p
            %strong &copy;
            = data.defaults.copyright.html_safe
            
