---
title: "Documentr - hierarchical document generator"
description: "Hello world!"
version: "1.0"
date: ""
author: "Unknown"
copyright: ""
---
%p
  View the
  = link_to 'demo, written in Haml', 'demo.html'
%p
  Or, view a reference
  = link_to 'example in Markdown', 'example.html'
%p
  = image_tag 'images/graph-1.gif'
%p
  = lorem.paragraph
%p
  = lorem.paragraph