---
sections:
- "Introduction"
- headings:
  - "Getting started"
- "Template engine"
- headings:
  - "Setting template engines"
- "YAML Frontmatter"
- "Helpers"
- headings:
  - "Links"
  - "Images"
  - subs:
    - "Automatic image sizes"
    - "Image optimisation"
  - "Section index generator"
- "Publishing Documentr files"
- headings:
  - "Middleman build"

---

%h1 Introduction
%p 
  Documentr uses the 
  = link_to 'Middleman', 'https://middlemanapp.com/'
  static site generator written in Ruby, to generate hierarchical html documents. This makes Documentr highly extendable with support for multiple pages, layout templates, integrations, and much more!

%p 
  These examples are written with Haml, but you may prefer Markdown, used in this way Documentr feels very similar to writing GitHub documentation files, and is compatible with GitHub Markdown files.

%h2 Getting started

%hr/
%h1 Template engine
%p 
  Like Ruby on Rails, Middleman makes use of 
  = link_to 'Tilt', 'https://github.com/rtomayko/tilt/'
  a generic interface to multiple Ruby template engines. This allows Documentr source code to be written in an array of markdown and markup languages, whichever you're more comfortable using.
%p 
  Beautiful, DRY, well-indented, clear markup: templating haiku.
  = link_to('Haml Tutorial', "http://haml.info/tutorial.html") + '.'
%p 
  Prefer to write your documentation in Html or
  = link_to('Markdown', 'https://guides.github.com/features/mastering-markdown/') + '?'

%h2 Setting template engines
%p 
  Template engine options are set in
  %strong config.rb
%p
  %code
    set :haml, { :ugly => false, :format => :html5 }
%p
  For more information on template engine options, see:
  = link_to 'https://middlemanapp.com/basics/template_engine_options/', 'https://middlemanapp.com/basics/template_engine_options/'

%hr/
%h1 YAML Frontmatter
%p 
  YAML Frontmatter default values are set in 
  %strong data/defaults.yaml

%table
  %tr
    %th key
    %th value
  %tr
    %td title:
    %td= data.defaults.title || 'null'
  %tr
    %td description:
    %td= data.defaults.description || 'null'
  %tr
    %td version:
    %td= data.defaults.version || 'null'
  %tr
    %td date:
    %td= Date.today
  %tr
    %td author:
    %td= data.defaults.author || 'null'
  %tr
    %td copyright:
    %td= data.defaults.copyright || 'null'

%p 
  overide defaults at the top of your 
  %strong index.haml
%p
  %code
    \---
    %br/
    title: "Example"
    %br/
    copyright: "2016 Company"
    %br/
    \---

%hr/
%h1 Helpers

%h2 Links

%h2 Images
%p= image_tag "graph-1.gif"
%p
  image credit:
  = link_to 'Why\'s (Poignant) Guide to Ruby', 'http://poignant.guide/'

%h3 Automatic image sizes

%h3 Image optimisation
%p images are compressed using imageoptim at build

%h2 Section index generator
%p use at the top of your index.haml
%p
  %code
    \---
    %br/
    sections:
    %br/
    \- "Section 1"
    %br/
    \- headings:
    %br/
    &nbsp;&nbsp;- "heading 1"
    %br/
    &nbsp;&nbsp;- subs:
    %br/
    &nbsp;&nbsp;&nbsp;&nbsp;- "sub heading 1"
    %br/
    &nbsp;&nbsp;&nbsp;&nbsp;- "sub heading 2"
    %br/
    &nbsp;&nbsp;- "heading 2"
    %br/
    \- "Section 2"
    %br/
    \---

%p Section index is generated from a nested structure.
%p
  %code 
    section has many headings
    %br/
    heading belongs to section
    %br/
    heading has many subs
    %br/
    Sub belongs to heading

%h1 Publishing Documentr files

%h2 Middleman build

%p= image_tag "example-1.png"